<div class="card">
  <div class="card-header bg-info text-white">
    Personal Details
  </div>
  <div class="card-body bg-secondary">
    <table class="table table-bordered text-white">
      <tr>
        <th>Name</th>
        <td>{{name}}</td>
      </tr>
      <tr>
        <th>Age</th>
        <td>{{age}}</td>
      </tr>
      <tr>
        <th>Address</th>
        <td>{{address}}</td>
      </tr>
      <tr>
        <th>Contact No</th>
        <td>{{contactNo}}</td>
      </tr>
    </table>
  </div>
</div>