<table>
  <tr *ngIf="errorMsg !== ''">
    <td class="alert alert-danger">{{errorMsg}}</td>
  </tr>
  <tr>
    <td><label>Name: </label> </td>
    <td><input class="form-control" type=text name="name" #name /></td>
  </tr>
  <tr>
    <td><button class="btn btn-info" (click)="addFriend(name.value)">Add New Friend</button></td>
  </tr>
</table>
<table class="table bg-dark text-white">
  <thead>
    <tr>
      <th>Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let name of friendsNames;let i=index" (click)="selSelectedName(name)" 
    [class.selected]="name === selectedName">
      <td>
        {{name}} 
      </td>
      <td>
        <button class="btn btn-danger" (click)="delete(i)">Delete</button>        
      </td>
    </tr>
  </tbody>
</table>
<p *ngIf="selectedName !== ''">
  Selected Name is: {{selectedName}}
</p>
