<div class="container">
   <div class="row">
    <div class="col-sm-6">
        <h1>{{title}}</h1>
    </div>
   </div> 
   <div class="row">
    <div class="col-sm-8">
        <app-employee-list></app-employee-list>
    </div> 
   </div>
   <div class="row">
    <div class="col-sm-4">
        <app-product-list></app-product-list>
    </div>
   </div>
   <div class="row">
      <div class="col-sm-6">
          <app-message></app-message>
      </div>
      <div class="col-sm-6">
          <app-message [message]="'Hello'" [messageType]="'danger'"></app-message>
      </div>
    </div> 
    <div class="row">
        <div class="col-sm-6">
            <app-message [message]="'Good Morning...!'" [messageType]="'success'"></app-message>
        </div>
        <div class="col-sm-6">
            <app-message [message]="myMessage" [messageType]="'warning'"></app-message>
        </div>
    </div> 
    <div class="row">
      <div class="col-sm-8">
        <app-message *ngFor="let msg of messageList" [message]="msg" [messageType]="'secondary'"></app-message>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-registration></app-registration>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        Cricketer Name: <input type=text name=cricketerName class="form-control" [(ngModel)]="cricketerName" />
      </div>
      <div class="col-sm-6">
        {{cricketerName}}
      </div>
    </div>
</div>




